 body {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 20px;
 }

 form {
     width: 100%;
     max-width: 600px;
 }

 label,
 input,
 select {
     display: block;
     width: 100%;
     margin-bottom: 10px;
     font-size: 1.2em;
     height: 1.5em;
 }


 .radio label,
 .radio input {
     display: flex;
     width: auto;
 }

 .service-details {
     font-size: 1.2em;
     background-color: #ADD8E6;
     display: block;
     /* 淡藍色 */
 }

 #basicAmount {
     font-size: 1.2em;
     font-weight: bold;
 }

 h1 {
     color: #2F4F4F;
     text-align: center;
 }

 h3 {
     font-size: 1em;
     padding: 10px;
     margin-bottom: 10px;
 }

 @media (max-width: 600px) {
     body {
         padding: 10px;
     }
 }

 .gray {
     background-color: #f0f0f0;
 }



 .close {
     background-color: #134B70;
     color: white;
 }

 .close h3 {
     color: #508C9B;
 }

 .close h2 {
     color: #134B70;
 }

 .close .frame {
     background-color: white;
     padding: 20px;
     width: 90%;
     text-align: center;
     margin-bottom: 25px;
 }